In [1]:
import requests
from bs4 import BeautifulSoup
url = 'https://dailymedicalinfo.com/coronavirus/'
response = requests.get(url)
soup = BeautifulSoup(response.text,'html.parser')

In [2]:
list_country = []
countries = soup.find_all('table', attrs = {'id' :'dataTable'})[0].find_all('td')
country = countries[0::5]
# country

for i in country:
    list_country.append(i.text.strip())
print(list_country)

['أمريكا', 'الهند', 'البرازيل', 'بريطانيا', 'روسيا', 'تركيا', 'فرنسا', 'ألمانيا', 'ايران', 'الأرجنتين', 'اسبانيا', 'ايطاليا', 'كولومبيا', 'إندونسيا', 'المكسيك', 'بولندا', 'أوكرانيا', 'جنوب أفريقيا', 'هولندا', 'الفلبين', 'ماليزيا', 'التشيك', 'بيرو', 'تايلاند', 'العراق', 'بلجيكا', 'كندا', 'رومانيا', 'تشيلي', 'اليابان', 'بنغلاديش', 'فيتنام', 'إسرائيل', 'باكستان', 'صربيا', 'السويد', 'النمسا', 'هنغاريا', 'البرتغال', 'سويسرا', 'الأردن', 'اليونان', 'كازاخستان', 'كوبا', 'المغرب', 'جورجيا', 'نيبال', 'سلوفاكيا', 'الإمارات', 'تونس', 'بلغاريا', 'لبنان', 'بيلاروس', 'كرواتيا', 'أيرلندا', 'غواتيمالا', 'أذربيجان', 'الدنمارك', 'سيريلانكا', 'كوستا ريكا', 'بوليفيا', 'السعودية', 'كوريا', 'الإكوادور', 'ميانمار', 'ليتوانيا', 'بناما', 'باراغواي', 'سلوفينيا', 'فنزويلا', 'فلسطين', 'الكويت', 'الدومنيكان', 'أوروغواي', 'منغوليا', 'ليبيا', 'هندوراس', 'أثيوبيا', 'مصر', 'مولدوفا', 'أرمينيا', 'النرويج', 'عمان', 'بوسنة وهرسك', 'البحرين', 'سنغافورة', 'لاتفيا', 'كينيا', 'قطر', 'أستراليا', 'استونيا', 'مقدونيا', 'نيجيريا', 'الجزائر', 'زامبيا', 'فنلندا', 'ألبانيا', 'بوتسوانا', 'أوزبكستان', 'قيرغيزستان', 'زيمبابوي', 'مونتينيغرو', 'أفغانستان', 'موزمبيق', 'قبرص', 'ناميبيا', 'غانا', 'أوغندا', 'السلفادور', 'كمبوديا', 'الكاميرون', 'رواندا', 'لوكسمبورغ', 'جزر المالديف', 'لاوس', 'جامايكا', 'ترينداد وتوباغو', 'السنغال', 'ريونيون', 'أنجولا', 'مالاوي', 'ساحل العاج', 'الكونغو', 'جوادلوب', 'سوازيلاند', 'فيجي', 'سورينام', 'سوريا', 'غويانا الفرنسيه', 'بولينيزيا', 'مدغشقر', 'مارتينيك', 'السودان', 'مالطا', 'موريتانيا', 'غيانا', 'الرأس الأخضر', 'الغابون', 'بابوا غينيا الجديدة', 'بليز', 'غينيا', 'بربادوس', 'توغو', 'جمهورية تنزانيا', 'هايتي', 'بنين', 'سيشيل', 'Lesotho', 'الصومال', 'جزر الباهاما', 'موريشيوس', 'مايوت', 'جزر القنال', 'بوروندي', 'أندورا', 'أيسلندا', 'تيمور الشرقية', 'الكونغو', 'مالي', 'كوراساو', 'نيكاراغوا', 'Tajikistan', 'تايوان', 'بوركينا فاسو', 'أروبا', 'بروناي', 'غينيا الإستوائية', 'جيبوتي', 'نيوزيلاندا', 'سانت لوسيا', 'جنوب السودان', 'جزيرة مان', 'هونج كونج', 'كاليدونيا الجديدة', 'جمهورية افريقيا الوسطى', 'Yemen', 'غامبيا', 'جزر كايمان', 'إريتريا', 'جبل طارق', 'النيجر', 'سان مارينو', 'غينيا بيساو', 'Sierra Leone', 'دومينيكا', 'غرينادا', 'ليبيريا', 'برمودا', 'س. فنسنت', 'تشاد', 'ليختنشتاين', 'سينت مارتن', 'Comoros', 'جزر فاروس', 'أنتيغوا وبربودا', 'موناكو', 'سانت مارتن', 'Sao Tome and Principe', 'الجزر الكاريبية الهولندية', 'جزر توركس وكايكوس', 'جزر العذراء', 'سانت كيتس ونيفيس', 'بوتان', 'الأرض الخضراء', 'س. بارتيليمي', 'أنغويلا', 'باخرة DP', 'Wallis and Futuna', 'Saint Pierre Miquelon', 'جزر فوكلاند', 'ماكاو', 'مونتسرات', 'الفاتيكان', 'Solomon Islands', 'الصحراء الغربية', 'إم إس زاندام', 'Palau', 'Vanuatu', 'Marshall Islands', 'Samoa', 'Saint Helena', 'Micronesia', 'Tonga', 'الصين']

In [3]:
list_injuries = []
info_injuries = soup.find_all('table', attrs = {'id' :'dataTable'})[0].find_all('td')
injuries = info_injuries[1::5]
# injuries

for i in injuries:
    list_injuries.append(i.text)
print(list_injuries)

['51,136,442', '34,710,630', '22,195,775', '10,932,545', '10,103,160', '9,080,452', '8,334,133', '6,625,149', '6,162,954', '5,366,522', '5,366,128', '5,258,886', '5,097,680', '4,259,644', '3,921,682', '3,881,349', '3,578,557', '3,204,642', '2,920,438', '2,836,915', '2,699,240', '2,367,076', '2,256,796', '2,178,276', '2,089,259', '1,968,269', '1,845,256', '1,795,418', '1,786,184', '1,729,035', '1,580,302', '1,459,175', '1,351,776', '1,289,913', '1,276,761', '1,242,733', '1,239,287', '1,208,020', '1,200,193', '1,149,097', '1,019,691', '1,012,659', '980,860', '963,751', '951,763', '898,079', '825,016', '788,772', '743,152', '719,903', '718,651', '692,315', '678,277', '662,397', '632,177', '622,525', '607,076', '579,275', '576,194', '568,305', '556,765', '550,457', '536,495', '533,457', '527,274', '495,686', '481,438', '463,926', '443,873', '439,444', '434,738', '413,790', '410,720', '402,978', '385,973', '379,816', '378,642', '373,564', '370,819', '370,459', '342,977', '328,747', '304,761', '283,109', '278,149', '274,143', '264,031', '256,815', '245,855', '235,529', '229,869', '219,843', '218,596', '213,288', '211,705', '209,258', '204,301', '197,644', '196,303', '184,055', '177,690', '160,111', '157,665', '154,520', '142,228', '133,090', '131,547', '128,212', '121,267', '120,390', '107,662', '100,763', '94,511', '93,370', '93,061', '91,843', '81,857', '74,105', '67,237', '65,431', '62,615', '61,907', '59,851', '55,284', '54,731', '52,604', '51,289', '49,423', '46,590', '46,334', '45,794', '45,501', '45,112', '40,892', '39,878', '38,618', '38,509', '37,626', '35,962', '31,152', '30,814', '26,949', '26,416', '26,309', '25,865', '24,897', '23,806', '23,223', '23,074', '22,907', '22,710', '21,129', '20,996', '20,886', '20,136', '19,861', '19,830', '19,066', '18,718', '17,618', '17,391', '17,095', '16,759', '16,672', '16,646', '15,372', '13,612', '13,514', '13,143', '13,105', '12,904', '12,731', '12,497', '12,421', '11,961', '10,075', '10,045', '8,007', '7,675', '7,589', '7,170', '6,600', '6,450', '6,423', '6,257', '5,915', '5,844', '5,784', '5,723', '5,701', '5,472', '4,656', '4,576', '4,477', '4,177', '4,160', '3,973', '3,733', '3,156', '3,141', '2,842', '2,796', '2,652', '1,876', '1,603', '1,592', '712', '454', '96', '83', '77', '44', '27', '20', '10', '9', '8', '6', '4', '3', '2', '1', '1', '99,923']

In [4]:
list_new_cases = []
info_new_cases = soup.find_all('table', attrs = {'id' :'dataTable'})[0].find_all('td')
new_cases = info_new_cases[2::5]
# new_cases

for i in new_cases:
    list_new_cases.append(i.text)
print(list_new_cases)

['0', '0', '0', '0', '28,363', '0', '0', '24,638', '2,651', '0', '0', '0', '0', '205', '2,695', '24,266', '8,109', '0', '13,469', '237', '0', '16,691', '0', '3,370', '426', '9,076', '0', '829', '1,060', '129', '297', '15,527', '0', '370', '0', '0', '4,224', '5,506', '0', '5,188', '0', '0', '488', '0', '0', '3,278', '252', '6,783', '148', '0', '0', '0', '1,765', '4,671', '0', '0', '1,156', '8,773', '0', '0', '1,766', '88', '7,843', '0', '0', '2,123', '0', '0', '1,526', '0', '0', '0', '0', '0', '335', '488', '27', '0', '0', '0', '212', '0', '20', '522', '0', '0', '886', '0', '165', '2,764', '658', '0', '0', '0', '0', '2,225', '0', '0', '209', '28', '0', '0', '4', '0', '0', '0', '0', '92', '0', '8', '0', '0', '0', '0', '1,245', '0', '0', '11', '0', '0', '0', '0', '0', '0', '0', '6', '45', '0', '0', '0', '0', '0', '0', '168', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '153', '0', '0', '0', '0', '0', '0', '7', '0', '0', '9', '0', '0', '76', '0', '0', '0', '1', '21', '0', '0', '0', '47', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '67', '0', '4', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '67']

In [5]:
list_death = []
info_death = soup.find_all('table', attrs = {'id' :'dataTable'})[0].find_all('td')
death = info_death[3::5]
# death

for i in death:
    list_death.append(i.text)
print(list_death)

['821,335', '476,135', '617,121', '146,627', '292,891', '79,503', '120,832', '107,364', '130,883', '116,826', '88,542', '135,049', '129,205', '143,969', '296,983', '89,714', '91,958', '90,172', '20,255', '50,449', '30,956', '34,813', '201,902', '21,258', '24,017', '27,685', '29,969', '57,935', '38,727', '18,375', '28,038', '28,616', '8,224', '28,843', '12,241', '15,185', '13,333', '37,232', '18,687', '11,888', '12,048', '19,475', '12,887', '8,313', '14,798', '12,879', '11,565', '15,621', '2,151', '25,443', '29,764', '8,873', '5,322', '11,779', '5,788', '16,051', '8,137', '3,039', '14,661', '7,333', '19,355', '8,857', '4,456', '33,561', '19,193', '7,039', '7,391', '16,516', '5,444', '5,250', '4,587', '2,466', '4,220', '6,146', '2,039', '5,576', '10,424', '6,842', '21,155', '9,414', '7,856', '1,141', '4,113', '13,064', '1,394', '804', '4,408', '5,349', '614', '2,117', '1,869', '7,754', '2,983', '6,155', '3,671', '1,446', '3,144', '2,424', '1,445', '2,775', '4,745', '2,360', '7,331', '1,945', '612', '3,578', '1,243', '3,269', '3,800', '2,995', '1,836', '1,344', '896', '258', '256', '2,429', '2,454', '1,886', '393', '1,737', '2,310', '706', '1,118', '748', '1,254', '697', '1,179', '2,823', '333', '636', '980', '718', '3,252', '471', '852', '1,024', '351', '285', '587', '586', '388', '253', '243', '734', '762', '161', '129', '664', '1,333', '708', '680', '185', '107', '38', '134', '36', '122', '359', '633', '182', '210', '124', '849', '296', '178', '98', '175', '189', '47', '283', '133', '67', '213', '280', '101', '1,972', '342', '9', '64', '100', '269', '94', '149', '121', '42', '200', '287', '106', '77', '181', '68', '75', '151', '13', '117', '36', '56', '57', '22', '25', '39', '28', '3', '0', '6', '4', '13', '7', '0', '0', '0', '1', '0', '0', '1', '2', '0', '1', '0', '0', '0', '0', '0', '4,636']

In [6]:
list_recover = []

info_recover = soup.find_all('table',attrs = {'id':'dataTable'})[0].find_all('td')[4::5] 
# info_recover
info_recover = soup.find_all('b')
recover = info_recover
# recover

for i in recover:
    list_recover.append(i.text)
print(list_recover)

['40,239,513', '34,146,931', '21,414,318', '9,574,546', '8,839,633', '8,662,026', '7,362,450', '5,559,700', '5,985,735', '5,220,418', '4,958,672', '4,826,443', '4,938,291', '4,110,811', '3,277,620', '3,344,222', '3,259,316', '2,943,570', '2,294,090', '2,776,273', '2,610,610', '2,091,837', '0', '2,110,701', '2,057,506', '1,466,281', '1,777,480', '1,720,505', '1,690,044', '1,709,724', '1,544,933', '1,063,428', '1,337,231', '1,251,778', '1,234,299', '1,169,877', '1,167,813', '1,005,586', '1,115,749', '904,359', '941,895', '932,006', '950,318', '955,069', '935,592', '844,875', '807,816', '674,102', '738,141', '693,118', '593,074', '642,928', '669,068', '626,909', '492,660', '605,696', '580,495', '489,491', '545,768', '559,282', '506,542', '539,712', '442,293', '443,880', '503,790', '461,175', '470,561', '446,703', '417,770', '427,472', '426,214', '410,950', '404,942', '394,525', '313,256', '367,083', '122,591', '350,517', '308,829', '355,447', '326,559', '88,952', '300,114', '192,218', '276,407', '268,300', '249,480', '248,804', '242,759', '214,185', '214,665', '206,661', '211,254', '146,702', '206,716', '46,000', '195,629', '192,452', '193,125', '179,123', '130,279', '155,737', '142,600', '149,989', '124,370', '126,108', '129,566', '97,893', '104,989', '116,746', '105,307', '45,522', '88,144', '91,118', '7,339', '63,567', '64,978', '72,175', '62,026', '63,519', '58,878', '60,997', '50,930', '2,250', '46,113', '51,162', '29,586', '30,670', '11,254', '0', '43,393', '104', '36,009', '38,545', '38,502', '36,784', '38,075', '34,522', '35,121', '29,862', '29,776', '24,837', '25,947', '0', '22,276', '24,546', '23,294', '13,860', '12,817', '21,659', '21,043', '2,964', '19,148', '773', '17,885', '18,416', '19,704', '12,421', '15,578', '17,298', '4,225', '16,966', '15,706', '15,926', '16,241', '15,046', '13,386', '13,299', '6,193', '12,745', '12,576', '11,919', '12,180', '11,976', '6,859', '6,949', '9,645', '4,550', '7,449', '7,240', '6,879', '5,978', '6,285', '0', '5,820', '5,665', '5,535', '5,643', '5,111', '4,874', '5,041', '4,535', '4,390', '4,040', '4,033', '3,915', '1,399', '3,675', '2,996', '3,072', '0', '2,758', '2,629', '1,606', '0', '1,521', '699', '438', '74', '0', '77', '42', '27', '20', '8', '7', '8', '5', '4', '3', '2', '1', '1', '93,827']

In [11]:
import csv
from itertools import zip_longest
list_data = [list_country, list_injuries, list_new_cases, list_death, list_recover]
list_unback = zip_longest(*list_data)

with open('Corona.csv', 'w',  encoding="utf-8") as file:
    
    wr = csv.writer(file)
    wr.writerow(['country', 'injuries', 'new_cases', 'death', 'recover'])
    wr.writerows(list_unback)

In [15]:
from datetime import datetime
time = datetime.now()
print(time)

2021-12-15 18:05:22.982444

In [16]:
import pandas as pd
Data = pd.read_csv('corona.csv')
Data

          country    injuries new_cases    death     recover
0          أمريكا  51,136,442         0  821,335  40,239,513
1           الهند  34,710,630         0  476,135  34,146,931
2        البرازيل  22,195,775         0  617,121  21,414,318
3        بريطانيا  10,932,545         0  146,627   9,574,546
4           روسيا  10,103,160    28,363  292,891   8,839,633
..            ...         ...       ...      ...         ...
219         Samoa           3         0        0           3
220  Saint Helena           2         0        0           2
221    Micronesia           1         0        0           1
222         Tonga           1         0        0           1
223         الصين      99,923        67    4,636      93,827

[224 rows x 5 columns]